<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tag-heading" data-cy="TagCreateUpdateHeading" jhiTranslate="ogloszeniaApp.tag.home.createOrEditLabel">
        Dodaj lub edytuj: Tag
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ogloszeniaApp.tag.tekst" for="field_tekst">Tekst</label>
          <input type="text" class="form-control" name="tekst" id="field_tekst" data-cy="tekst" formControlName="tekst" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ogloszeniaApp.tag.grupaTagow" for="field_grupaTagow">Grupa Tagow</label>
          <select
            class="form-control"
            id="field_grupaTagow"
            data-cy="grupaTagow"
            name="grupaTagow"
            formControlName="grupaTagow"
            [compareWith]="compareGrupaTagow"
          >
            <option [ngValue]="null"></option>
            @for (grupaTagowOption of grupaTagowsCollection; track $index) {
              <option [ngValue]="grupaTagowOption">{{ grupaTagowOption.nazwaGrupy }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Anuluj</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Zapisz</span>
        </button>
      </div>
    </form>
  </div>
</div>
