<div>
  <h2 id="page-heading" data-cy="TypUmowyHeading">
    <span jhiTranslate="ogloszeniaApp.typUmowy.home.title">Typ Umowy</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ogloszeniaApp.typUmowy.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-typ-umowy"
        [routerLink]="['/typ-umowy/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ogloszeniaApp.typUmowy.home.createLabel">Dodaj Typ Umowy</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (typUmowies?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ogloszeniaApp.typUmowy.home.notFound">No Typ Umowies found</span>
    </div>
  }

  @if (typUmowies && typUmowies.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tekst">
              <div class="d-flex">
                <span jhiTranslate="ogloszeniaApp.typUmowy.tekst">Tekst</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (typUmowy of typUmowies; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/typ-umowy', typUmowy.id, 'view']">{{ typUmowy.id }}</a>
              </td>
              <td>{{ typUmowy.tekst }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/typ-umowy', typUmowy.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Widok</span>
                  </a>

                  <a [routerLink]="['/typ-umowy', typUmowy.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edytuj</span>
                  </a>

                  <button type="submit" (click)="delete(typUmowy)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Usuń</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
